:root {
    --black: #000000;
    --charcoal: #38383b;
    --dark-blue: #00416b;
    --medium-blue: #005e9b;
    --light-blue: #0071bb;
    --light-gray: #dedede;
    --petrol: #476c77;
    --off-white: #fdfdfd;
    --gothic: 'Didact Gothic', sans-serif;
    --garamond: 'Cormorant Garamond', serif;
}

html {
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--petrol);
}

.header-banner-container {
    background-color: var(--petrol);
    font-family: var(--gothic);
    letter-spacing: 0.2em;
}

header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 15px 50px;
    color: var(--off-white);
}

header .titles {
    display: flex;
    align-items: baseline;
    column-gap: 15px;
}

header .titles * {
    margin: 0;
}

header .titles h2 {
    font-size: 18px;
}

nav ul {
    display: flex;
    column-gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a,
nav a:visited {
    letter-spacing: 0.1em;
    color: var(--light-gray);
    text-decoration: none;
}

nav a:hover {
    color: var(--off-white);
}

.banner {
    display: flex;
    align-items: center;
    color: var(--off-white);
}

.banner > * {
    width: 100%;
    padding: 15px 50px 30px;
}

main {
    background-color: var(--off-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    font-family: var(--garamond);
    letter-spacing: 0.05em;
    padding: 50px 25px;
    max-width: 700px;
    text-align: justify;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: var(--petrol);
    color: var(--off-white);
    font-family: var(--garamond);
}

footer .social-icons {
    display: flex;
    column-gap: 30px;
}

footer svg {
    height: 48px;
    fill: var(--light-gray);
}

footer svg:hover {
    fill: var(--off-white);
}

.headshot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headshot {
    width: 100%;
}

.biography-banner .blurb-container {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
}

.biography-banner .blurb-container > * {
    margin: 0;
}

.biography-banner .blurb-container p {
    font-size: 36px;
}

.biography-banner .blurb-container p#jesse-brault-name {
    font-size: 54px;
}

.biography-banner .blurb-container button {
    border: 1px solid var(--light-gray);
    width: 150px;
    height: 40px;
    font-family: var(--gothic);
    font-size: 18px;
}

.contact-banner article.social-media-links {
    font-family: var(--gothic);
}

.contact-banner article.social-media-links h1 {
    font-size: 36px;
    color: var(--light-gray);
    text-align: center;
}

.contact-banner div.social-media-links {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 20px;
}

.contact-banner a {
    display: contents;
    color: var(--light-gray);
    fill: var(--light-gray);
    text-decoration: none;
}

.contact-banner a:hover {
    & span {
        color: var(--off-white);
    }
    & svg {
        fill: var(--off-white);
    }
}

.contact-banner a:visited {
    & span {
        color: var(--off-white);
    }
    & svg {
        fill: var(--off-white);
    }
}

.contact-banner svg {
    height: 72px;
    justify-self: center;
}

.contact-banner a span {
    font-size: 27px;
    justify-self: stretch;
}
