:root {
    --black: #000000;
    --dark-red: #401815;
    --light-gray: #dedede;
    --off-white: #fdfdfd;
}

.cormorant-garamond-regular {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-style: normal;
}

.cormorant-garamond-semibold {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-style: normal;
}

.eb-garamond-regular {
    font-family: 'EB Garamond', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.eb-garamond-semibold {
    font-family: 'EB Garamond', serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

html {
    font-size: 14pt;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--off-white);
}

header,
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--black);
    color: var(--off-white);
    filter: drop-shadow(var(--black) 0 2px 2px);
}

header .titles {
    display: flex;
    align-items: baseline;
    column-gap: 15px;
}

nav ul {
    display: flex;
    column-gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a,
nav a:visited {
    color: var(--light-gray);
    text-decoration: none;
}

nav a:hover {
    color: var(--off-white);
}

article {
    padding: 15px 25px;
    max-width: 700px;
    text-align: justify;
}

footer {
    display: flex;
    justify-content: space-between;
    padding-block: 20px;
    background-color: var(--black);
    color: var(--off-white);
    filter: drop-shadow(var(--black) 0 -1px 1px);
}

footer .social-icons {
    display: flex;
    column-gap: 20px;
}

footer svg {
    height: 48px;
    fill: var(--light-gray);
}

footer svg:hover {
    fill: var(--off-white);
}

.biography-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.biography-container > article {
    grid-column: 1 / 2;
    grid-row: 1;
    padding-inline: 50px;
}

.headshot-container {
    grid-column: 2 / 3;
    grid-row: 1;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headshot {
    object-fit: cover;
    width: 100%;
}
